<div class="container-fluid">
  <div>
    <form
      [formGroup]="subtaskForm"
      novalidate
      (ngSubmit)="onSubmit(subtaskForm.value, todo)"
    >
      <div class="row">
        <div class="col-6">
          <input
            class="form-control"
            type="text"
            formControlName="description"
          />
        </div>
        <div>
          <button type="submit" class="btb btn-primary">
            Add Subtask
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
